<footer class="container-fluid footer r-marginT10p">
    <div class="container">
        <div class="row r-marginTB5p">
            <div class="col-lg-4 col-md-4 col-sm-4 footerleft">
                <div class="logofooter"> <img src="img/img-0.svg" height="150"></div>
                <br>
                <p class="r-white">© 2016 RetroLook Fashion.</p>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 paddingtop-bottom">
                <ul type="none" class="footer-ul r-white">
                    <h2>Details</h2>
                    <li><a href="#/home" class="r-white"> Home</a></li>
                    <li><a href="#/about" class="r-white"> About</a></li>
                </ul>
            </div>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-4 paddingtop-bottom">
                        <ul type="none" class="footer-ul r-white">
                            <h2>Reach</h2>
                            <li><a href="#/contact" class="r-white">Contact</a></li>
                            <li><a href="#/products" class="r-white">Products</a></li>
                            <a href="https://www.facebook.com" target="_blank"><img src="img/img-4.svg" width="20"></a>
                            <a href="https://twitter.com/" target="_blank"><img src="img/img-5.svg" width="20"></a>
                            <a href="https://in.linkedin.com/" target="_blank"><img src="img/img-6.svg" width="20"></a>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
