<fcb></fcb>
<div class="container-fluid r-marginTB5p">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-12 col-xs-12">
      <div class="panel">
        <div class="panel-body">
          <h3 class="p-pmColor text-center "> DESIGNER DRESS FOR FEMALE </h3>
          <hr>
          <div class="col-lg-6 col-md-8 col-sm-12 col-xs-12 r-marginT5p">
            <div> <img src="img/img-1.jpg " width="100%"></div>
          </div>
          <div class="col-lg-6 col-md-8 col-sm-12 col-xs-12 r-marginT5p">
            <div class="r-marginT5p">
              <ul type="none">
                <li>Summer Special!</li>
                <li>40% Discount</li>
                <li>Made In India</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
